@use "sass:color";
@import "./base.css";

@font-face {
    font-family: "Schoolboek";
    src: url("@/assets/Schoolboek-Regular.woff") format("woff");
}

h1,
h2,
h3 {
    font-weight: normal;
    font-family: "Schoolboek", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    &:visited {
        color: blue;
    }
    &:focus {
        color: red;
    }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

main {
    flex: 1 1 0;
    display: flex;
    min-height: 100%;
    gap: 1rem;
    padding: 1rem;
}

aside {
    display: flex;
    flex: 0 1 400px;
    flex-direction: column;
    min-height: 0;
    gap: 1rem;
    justify-content: space-between;
}

fieldset {
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Because #hamburger-menu is a direct child of body
// and therefore lives above the AppHeader component
// it needs to be styled here.
#hamburger-menu {
    font-size: 1.1rem;
    min-width: min-content;
    font-family: "Schoolboek", "Helvetica Neue", Helvetica, Arial, sans-serif;

    * {
        font-size: inherit;
        min-width: inherit;
    }
}

// help & about
.text-panel {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    flex: 1;

    p {
        margin-bottom: 0.5rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: normal;
    }

    .p-panel-header {
        padding: 0.4rem;
    }

    .p-panel-content-container,
    .p-tabpanels {
        display: flex !important;
        justify-content: center !important;

        .p-panel-content,
        .p-tabpanel {
            max-width: 1000px !important;
        }
    }

    section {
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 0.4rem;

        b {
            margin-right: 0.25rem;
        }
    }
}
