@use 'sass:color';
@import './base.css';

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.searchOptions .p-panel-header {
  display: none !important;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.search {
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 0;
  gap: 1em;
  justify-content: space-between;
}


// .wordlist .p-listbox {
//   flex: 1;
//   min-height: 0;

//   .p-listbox-list-container {
//     height: 100% !important;
//     max-height: none !important;
//   }
// }



.advancedSearch>div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.search-btn {
  width: 100%;
}

.dateRange {
  display: flex;
}

.timeBucket {
  display: flex;
}

.graph {
  flex: 1;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  padding-left: 0;

  /* max-height: 400px;
  max-width: 800px;
  height: 400px;
  width: 800px; */
  >.p-panel {
    padding: 2rem;

  }
}

.p-panel {
  border: 1px solid #e2e8f0;
  background: white;
}


.graph>div,
canvas {
  width: 100%;
  height: 100%;
}

.formSplit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  flex: 1 1 0;
}

.emptyGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tooltip a {
  color: white;
}

.tooltip a:visited {
  color: white;
}

svg,
#my_dataviz {
  /* important for responsiveness */
  display: block;
  fill: none;
  stroke: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}

div.invalid {
  border-color: red;
}

p.invalid {
  color: red;
  margin-bottom: 0.5rem;
}