@use 'sass:color';
@import './base.css';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}

html,
body,
#app {
  width: 100vw;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
  gap: 1rem;
  padding: 1rem;
}

aside {
  width: 430px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 1rem;
}

.settings>div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.p-panel {
  border: 1px solid #e2e8f0;
  background: white;
}


.formSplit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  flex: 1 1 0;
}

div.invalid {
  border-color: red;
  border-width: 2px;
}

p.invalid {
  color: red;
  margin-bottom: 0.5rem;
}

// Because #overlayMenu is a direct child of body
// and therefore lives above the AppHeader component
// it needs to be styled here.
#overlayMenu {
  font-size: 1.1rem;
  min-width: min-content;

  * {
    font-size: inherit;
    min-width: inherit;
  }
}