@media screen and (max-width: 1024px) {
    main {
        justify-content: stretch;
        flex-flow: column-reverse;
        min-height: auto;
        flex: 1;
        overflow-y: auto;
    }

    aside {
        flex-direction: row;
        flex: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    aside {
        flex-flow: column-reverse;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 0.5rem;
        gap: 0.5rem;
    }
    aside {
        gap: 0.5rem;
    }

    .text-panel {
        font-size: 0.8rem;

        .p-panel-header {
            padding: 0.3rem 0;
        }

        .p-panel-content {
            padding: 0 1rem !important;
        }
    }
}
