@use 'sass:color';


$theme: #62b6ff;

:root:root {
    --p-scrollpanel-bar-background: #aaa;
    --p-primary-color: #{$theme};
    --p-highlight-color: #000;
    --p-highlight-focus-color: #000;

    // colors
    --p-highlight-focus-background: #{color.adjust($theme, $lightness: 20%)};
    --p-highlight-background: #{color.adjust($theme, $lightness: 20%)};
    --p-primary-active-color: #{color.adjust($theme, $lightness: -20%)};
    --p-primary-hover-color: #{color.adjust($theme, $lightness: -10%)};
    --p-button-primary-background: #46a9ff;

    // Dialog
    --p-dialog-header-padding: 1rem;

    // All border radius
    --p-border-radius-xs: 0;
    --p-border-radius-sm: 0;
    --p-border-radius-md: 0;
    --p-border-radius-lg: 0;
    --p-border-radius-xl: 0;
    --p-button-rounded-border-radius: 0;

    // Checkbox
    --p-checkbox-width: 1.65rem;
    --p-checkbox-height: 1.65rem;
    --p-checkbox-icon-size: 1.2rem;

    .p-button-rounded {
        border-radius: 0;
    }

    *:focus-visible {
        outline: 0;
    }

    .p-cascadeselect-list {
        max-height: 100%;
        height: fit-content;
        overflow: auto;
    }

    .p-button[disabled] {
        cursor: not-allowed;
        background-color: #ccc;
        border-color: #ccc;
    }
}

.wordlist {

    .p-select,
    .p-inputtext,
    .p-cascadeselect {
        width: 200px;
    }

}