@use "sass:color";

$theme: var(--theme); // Default theme color

:root:root {
    --p-scrollpanel-bar-background: #aaa;
    --p-primary-color: #{$theme};
    --p-highlight-color: #000;
    --p-highlight-focus-color: #000;

    --p-highlight-background: color-mix(in srgb, var(--theme), #fff 30%);
    --p-highlight-focus-background: color-mix(in srgb, var(--theme), #fff 20%);

    // colors
    // --p-highlight-focus-background: #{color.adjust($theme, $lightness: 20%)};
    // --p-highlight-background: #{color.adjust($theme, $lightness: 20%)};
    --p-primary-active-color: color-mix(in srgb, var(--theme), #000 20%);
    --p-primary-hover-color: color-mix(in srgb, var(--theme), #000 10%);
    --p-tabs-tab-active-color: #{$theme};
    --p-button-primary-background: #{$theme};
    // --p-button-text-primary-active-background: var(--p-button-text-secondary-active-background)
    // --p-button-text-primary-color: var(--p-panel-color);

    // Dialog
    --p-dialog-header-padding: 1rem 1rem 0.3rem 1rem;

    // All border radius
    --p-border-radius-xs: 0;
    --p-border-radius-sm: 0;
    --p-border-radius-md: 0;
    --p-border-radius-lg: 0;
    --p-border-radius-xl: 0;
    --p-button-rounded-border-radius: 0;

    // Checkbox
    --p-checkbox-width: 1.65rem;
    --p-checkbox-height: 1.65rem;
    --p-checkbox-icon-size: 1.2rem;

    // SelectButton
    --p-togglebutton-padding: 0.25rem 0.25rem;
    --p-togglebutton-content-padding: 0.25rem 0.55rem;

    // Accordion
    --p-accordion-content-padding: 0 0 1rem 0;
    --p-accordion-header-padding: 1rem 0 1rem 0;

    .p-button-rounded {
        border-radius: 0;
    }

    .p-cascadeselect-list {
        max-height: 100%;
        height: fit-content;
        overflow: auto;
    }

    .p-button[disabled] {
        cursor: not-allowed;
        background-color: #ccc;
        border-color: #ccc;
    }

    .p-accordionpanel {
        border: none;
    }

    input.p-inputtext[type="number"] {
        width: 80px;
    }
}

// MultiSelect has on overlay on the global document level
// Hence why we don't style it scoped
.p-multiselect-header::after {
    content: "Alles selecteren";
    font-style: italic;
}

.p-multiselect-header {
    border-bottom: 1px solid #ccc;
}

.p-multiselect-list-container {
    max-height: 28rem !important;
}
