$theme: #62b6ff;

:root:root {
    --p-scrollpanel-bar-background: #aaa;
    --p-primary-color: #{$theme};
    --p-highlight-color: #000;
    --p-highlight-focus-color: #000;
    --p-highlight-focus-background: #{color.adjust($theme, $lightness: 20%)};
    --p-highlight-background: #{color.adjust($theme, $lightness: 20%)};
    --p-primary-active-color: #{color.adjust($theme, $lightness: -20%)};
    --p-primary-hover-color: #{color.adjust($theme, $lightness: -10%)};

    // Border radius
    --p-border-radius-xs: 0;
    --p-border-radius-sm: 0;
    --p-border-radius-md: 0;
    --p-border-radius-lg: 0;
    --p-border-radius-xl: 0;
}

#app .p-select,
#app .p-cascadeselect {
    width: 218px;
}